---
layout: default
---

<h1>{{ page.title }}</h1>
<span class="post_date">Le {{ page.date | date: "%d/%m/%Y" }}</span>
<span class="post_tags">Thèmes : {{ page.categories | join: ", " }}</span>

{{ content }}

<h2>A lire aussi :</h2>
<ul class="toc">
  {% for post in site.related_posts limit:3 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%d/%m/%Y" }})</li>
  {% endfor %}
</ul>

<h2>Commentaires :</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'parisdevops';
    var disqus_identifier = '{{ page.url }}';
    var disqus_url = 'http://parisdevops.github.com{{ page.url }}';
    var disqus_title = '{{ page.title }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

